/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

@font-face {
    font-family: 'font'; /*a name to be used later*/
    src: url('/assets/fonts/Tandysoft.ttf') format('truetype'); /*URL to font*/
}

body {
  padding: 0;
  margin: 0;
  /* display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh; /* Body is the height of the viewport */
  overflow: hidden; /* Hide anything that goes off the window size */
}

input{
  width: 300px;
  height: 25px;
  background-color: #121d20;
  border: none;
  color: #96aeb5;
  font-size: 30px;
  font-family: "font", "Courier New", monospace;
  outline: none;
}

::placeholder {
  color: #3b4a4d;
}
