#poem{
font-family: mrs-eaves, serif;
font-size: 2vh;
line-height: 1.4;
}

h2 {
  font-family: mrs-eaves-roman-petite-caps;
  letter-spacing: 5px;
  color: #990000;
}

/* Hanging indentation within paragraphs */
.indent {
  padding-left: 3em;
  /* text-indent: -36px; */
}

.redacted {
  background-color: black;
  user-select: none;
}

.revealed {
  color: red;
  text-decoration: underline;
}
