.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  gap: 0px 10px;
  grid-auto-flow: row;
  grid-template-areas:
  "menu poemContainer";
}

.menu {
  grid-area: menu;
  border: 1px solid black;
  text-align: center;
}

.poemContainer {
  grid-area: poemContainer;
  border: 1px solid black;
  padding-left: 60px;
}

h2 {
  font-family: mrs-eaves-roman-petite-caps;
  letter-spacing: 5px;
  color: #990000;
}

p {
    margin: 30px;
    line-height: 1.4;
    font-size: 2vh;
    font-family: mrs-eaves, serif;
}

.desc {

}

.indent {
  padding-left: 3em;
}

.recovered {
  /* background-color: transparent; /* No background */
  color: #990000;
}

.redacted {
  user-select: none;
  animation: fadeIn ease 5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {color: #990000;}
  to {color: white;}
}
